{% extends "layout.html" %}
{% block body %}

<div class="panel panel-default">

  <div class="panel-heading">
    <h2 class="panel-title">Existing records</h2>
  </div>

  <div class="panel-body">
    <p>This is the list of registered items:</p>
  </div>

  <!-- Table content -->
  <table class="table">
  {% for record in args.records %}
    <tr>
      <th>{{record.username}}</th>
      <th>{{record.color}}</th>
      <th>{{record.pet}}</th>
    </tr>
  {% endfor %}
  </table>

</div>

{% endblock %}
